    {% extends ':template:template.html.twig' %}



    {% block contentheader %}

    <section class="content-header">
        <h1>
            Job
            <small>Mostrar</small>
        </h1>
    </section>

    {% endblock %}

    {% block firstrow %}

    {% for message in app.session.flashBag.get('notice') %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <i class="fa fa-info"></i> {{ message }}. <i class="fa fa-smile-o"></i>
        </div>
    </div>
    {% endfor %}


    {% endblock %}


    {% block panelheading %}

        <div class="row">

    <div class="col-md-2 col-sm-3 col-xs-3">

        <a href="{{ path('cadastro_job_index') }}" class="btn btn-primary btn-sm">
            <span class="fa fa-reply"></span>
            Voltar
        </a>

    </div>
        <div class="col-md-2 col-sm-3 col-xs-3">

            <a href="{{ path('cadastro_job_edit', { 'id': job.id }) }}" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-edit"></span>
                Editar
            </a>

        </div>

        <div class="col-md-2 col-sm-3 col-xs-3">
            <a href="{{ path('cadastro_jobservidor_new', { 'job': job.id }) }}" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-plus"></span>
                Add Server
            </a>

        </div>

        <div class="col-md-2 col-sm-3 col-xs-3">
            <a href="{{ path('view_log_job', {'job': job.id}) }}" target="_blank" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-list"></span>
                Log
            </a>
        </div>
</div>{% endblock %}



    {% block panelbody %}

    <div class="table table-responsive">
        <table class="table table-bordered table-condensed">
            <tbody>
                <tr>
                    <th>Descricao</th>
                        <td>{{ job.descricao }}</td>
                </tr>
                <tr>
                    <th>Tipo de Job</th>
                        <td>{{ job.tipoJob.descricao }}</td>
                </tr>
                <tr>
                    <th>Unidade</th>
                    <td>{{ job.unidade.nome }}</td>
                </tr>
            </tbody>
        </table>
        {{ render(path('cadastro_jobservidor_index',{ 'job': job.id }))  }}
    </div>


    {% endblock %}