{% extends ':template:template.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/mrsinventario/css/dataTables.bootstrap.css') }}">

{% endblock %}

    {% block contentheader %}


        <section class="content-header">
            <h1>
                Equipamento
                <small>Listar</small>
            </h1>
        </section>


    {% endblock %}


    {% block panelheading %}
        <a href="{{ path('cadastro_equipamento_new') }}" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
            Novo
        </a>

        {% if importacao %}
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                    data-target=".bs-example-modal-sm">
                <span class="glyphicon glyphicon-upload"></span>
                Importar
            </button>
        {% endif %}

    {% endblock %}

    {% block panelbody %}
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped table-datatable">
                <thead>
                <tr>
                    <th>Ações</th>
                    <th>Tipo de Equipamento</th>
                    <th>Fornecedor</th>
                    <th>Marca</th>
                    <th>Nome</th>
                    <th>Patrimonio</th>
                    <th>Data da Compra</th>
                    <th>Numero de serie</th>
                    <th>Status</th>
                    <th>C. de Movimentação</th>
                    <th>Descricao</th>
                    <th>Observacao</th>
                </tr>
                </thead>
                <tbody>
                {% for equipamento in equipamentos %}
                    <tr>
                        <td>
                            <a href="{{ path('cadastro_equipamento_show', { 'id': equipamento.id }) }}" class="btn btn-primary btn-sm">
                                {% if equipamento.tipoequipamento  %}
                                    <span class="{{ equipamento.tipoequipamento.icone }}"></span>
                                {% endif %}
                            </a>
                        </td>
                        <td>{{ equipamento.tipoequipamento.descricao }}</td>
                        <td>{{ equipamento.fornecedor.nome }}</td>
                        <td>{{ equipamento.marca }}</td>
                        <td>{{ equipamento.nome }}</td>
                        <td>{{ equipamento.patrimonio }}</td>
                        <td>{% if equipamento.dataCompra %}{{ equipamento.dataCompra |date('d-m-Y') }}{% endif %}</td>
                        <td>{{ equipamento.numeroserie }}</td>
                        <td>{% if equipamento.status %}Ativo{% else %}Inativo{% endif %}</td>
                        <td>{{ equipamento.centroMovimentacao.nome }}</td>
                        <td>{{ equipamento.descricao }}</td>
                        <td>{{ equipamento.observacao }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">

            <div class="col-md-3"></div>

            <div class="col-md-6">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Importar Arquivo</h4>
                    </div>
                    <div class="modal-body">

                        <form action="" method="post" enctype="multipart/form-data">
                            <div class="row">

                                <div class="col-md-4">
                                    <input type="file" name="file_csv" required>
                                </div>

                            </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-sm pull-left">
                            <span class="glyphicon glyphicon-upload"></span>
                            Importar
                        </button>
                        </form>
                        <button type="button" class="btn btn-default btn-sm pull-right" data-dismiss="modal">Fechar</button>
                    </div>

                    <div class="panel panel-default">

                        <div class="panel-heading">
                            Enviar somente as colunas, sem o cabeçalho, cada coluna separada por virgula (",")
                            Como um arquivo CSV.
                            Colunas necessárias: Exemplo abaixo.
                        </div>

                        <div class="panel-body">

                            <div class="table table-responsive">
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>C. de Movimentação</th>
                                        <th>Fornecedor</th>
                                        <th>Marca</th>
                                        <th>Tipo de Equipamento</th>
                                        <th>Data da Compra</th>
                                        <th>Vigencia Garantia</th>
                                        <th>Valor da Compra</th>
                                        <th>Numero de serie</th>
                                        <th>Status</th>
                                        <th>Patrimonio</th>
                                        <th>Descricao</th>
                                        <th>Observacao</th>
                                        <th>Comprado para</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>Texto</th>
                                        <th>Código</th>
                                        <th>Código</th>
                                        <th>Código</th>
                                        <th>Código</th>
                                        <th>DIA/MES/ANO</th>
                                        <th>DIA/MES/ANO</th>
                                        <th>00,00</th>
                                        <th>12345678</th>
                                        <th>1 => Ativo ou 0 => Inativo</th>
                                        <th>87654321</th>
                                        <th>TEXTO</th>
                                        <th>TEXTO</th>
                                        <th>Código</th>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>

                        </div>

                    </div>


                </div>

            </div>

            <div class="col-md-3">
            </div>

        </div>

    {% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/mrsinventario/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/mrsinventario/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/mrsinventario/js/mrs-dataTable.js') }}"></script>


{% endblock %}