{% extends ':template:template.html.twig' %}



    {% block contentheader %}

        <section class="content-header">
            <h1>
                Equipamento
                <small>Mostrar</small>
            </h1>
        </section>

    {% endblock %}

    {% block firstrow %}

        {% for message in app.session.flashBag.get('notice') %}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="fa fa-info"></i> {{ message }}. <i class="fa fa-smile-o"></i>
                </div>
            </div>
        {% endfor %}


    {% endblock %}


    {% block panelheading %}

        <div class="row">

            <div class="col-md-2 col-sm-3 col-xs-3">

                <a href="{{ path('cadastro_equipamento_index') }}" class="btn btn-primary btn-sm">
                    <span class="fa fa-reply"></span>
                    Voltar
                </a>

            </div>
            <div class="col-md-2 col-sm-3 col-xs-3">

                <a href="{{ path('cadastro_equipamento_edit', { 'id': equipamento.id }) }}" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-edit"></span>
                    Editar
                </a>

            </div>
            <div class="col-md-2 col-sm-3 col-xs-3">

                <div class="dropdown">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-cog"></span>
                        Opções
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <a href="{{ path('cadastro_equipamentotag_new', { 'equipamento': equipamento.id }) }}" >
                                <span class="glyphicon glyphicon-tag"></span>
                                Nova Tag
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('cadastro_equipamentoaddsoftware_new', { 'equipamento': equipamento.id }) }}">
                                <span class="fa fa-windows"></span>
                                Adicionar Software
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('cadastro_equipamentocomponente_new', { 'equipamento': equipamento.id }) }}">
                                <span class="fa fa-plug"></span>
                                Adicionar Componente
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('cadastro_equipamentoaddequipamento_new', { 'equipamento': equipamento.id }) }}">
                                <span class="fa fa-desktop"></span>
                                Associar Equipamento
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('cadastro_acompanhamento_new', { 'equipamento': equipamento.id }) }}">
                                <span class="fa fa-calendar-plus-o"></span>
                                Novo Acompanhamento
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('cadastro_anexoequipamento_new', { 'equipamento': equipamento.id }) }}">
                                <span class="glyphicon glyphicon-paperclip"></span>
                                Novo Anexo
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('equipamento_qrcode_generate', { 'equipamento': equipamento.id }) }}">
                                <span class="glyphicon glyphicon-qrcode"></span>
                                Gerar QrCode
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    {% endblock %}



    {% block panelbody %}

        <div class="table table-responsive">
            <table class="table table-bordered table-condensed table-datatable">
                <tbody>
                <tr>
                    <th>Nome</th>
                    <td>{{ equipamento.nome }}</td>
                </tr>
                <tr>
                    <th>Centro de Movimentação</th>
                    <td>{{ equipamento.centroMovimentacao.nome }}</td>
                </tr>
                <tr>
                    <th>Fornecedor</th>
                    <td>{{ equipamento.fornecedor.nome }}</td>
                </tr>
                <tr>
                    <th>Marca</th>
                    <td>{{ equipamento.marca.nome }}</td>
                </tr>
                <tr>
                    <th>Tipo de Equipamento</th>
                    <td>{{ equipamento.tipoequipamento.descricao }}</td>
                </tr>
                <tr>
                    <th>Vigência de Garantia</th>
                    <td>{% if equipamento.validade %}{{ equipamento.validade|date('d-m-Y') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Data da Compra</th>
                    <td>{% if equipamento.dataCompra %}{{ equipamento.dataCompra|date('d-m-Y') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Número de série</th>
                    <td>{{ equipamento.numeroserie }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{% if equipamento.status %}Ativo{% else %}Inativo{% endif %}</td>
                </tr>
                <tr>
                    <th>Patrimônio</th>
                    <td>{{ equipamento.patrimonio }}</td>
                </tr>
                <tr>
                    <th>Descrição</th>
                    <td>{{ equipamento.descricao }}</td>
                </tr>
                <tr>
                    <th>Observação</th>
                    <td>{{ equipamento.observacao }}</td>
                </tr>
                <tr>
                    <th>Comprado para</th>
                    <td>{{ equipamento.compradoPara }}</td>
                </tr>
                </tbody>
            </table>

        </div>

    {% endblock %}

{% block panelfooter %}

    <div class="modal fade bs-maisinformacoes" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="maisinformacoes">

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-movimentacoes" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="movimentacoes">

                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-4">
            <a href="{{ path('report_equipamento_moreinformation', { 'equipamento': equipamento.id }) }}"
               class="maisinformacao btn btn-primary btn-sm" data-toggle="modal" data-target=".bs-maisinformacoes">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                Mais Informações
            </a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-4">
            <a href="{{ path('report_movimentacoes_equipamento', { 'equipamento': equipamento.id }) }}"
               class="movimentacao btn btn-primary btn-sm" data-toggle="modal" data-target=".bs-movimentacoes">
                <span class="fa fa-exchange"></span>
                Movimentações
            </a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/mrsinventario/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/mrsinventario/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/mrsinventario/js/mrs-dataTable.js') }}"></script>

    <script>

        $(document).ready(function() {


            var maisinformacao = $(".maisinformacao");

            var urlMaisInformacao = $(maisinformacao).attr('href');

            $(".maisinformacao").click(function (e) {


                e.preventDefault();

                $.get(urlMaisInformacao, function (data) {
                    $(".maisinformacoes").html(data);
                });

            });


            var movimentacao = $(".movimentacao");

            var urlMovimentacao = $(".movimentacao").attr('href');

            $(movimentacao).click(function(e){

                e.preventDefault();

                $.get(urlMovimentacao,function(data){
                    $(".movimentacoes").html(data);
                });

            });

        });

    </script>

{% endblock %}
