{% extends ':template:template.html.twig' %}


    {% block contentheader %}

        <section class="content-header">
            <h1>
                Anexo Acompanhamento
                <small>Novo</small>
            </h1>
        </section>

    {% endblock %}


    {% block panelheading %}

        <div class="row">

            <div class="col-md-2 col-sm-3 col-xs-3">

                <a href="{{ path('cadastro_anexoacompanhamento_index',{ 'acompanhamento': anexoAcompanhamento.acompanhamento.id }) }}" class="btn btn-primary btn-sm">
                    <span class="fa fa-reply"></span>
                    Listar Anexos
                </a>

            </div>

            <div class="col-md-2 col-sm-3 col-xs-3">

                <a href="{{ path('cadastro_acompanhamento_show',{ 'id': anexoAcompanhamento.acompanhamento.id }) }}" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    Acompanhamento
                </a>

            </div>
        </div>
    {% endblock %}


    {% block panelbody %}

        {{ form_start(form) }}
        {{ form_widget(form) }}

    {% endblock %}

    {% block panelfooter %}
        <button type="submit" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Salvar
        </button>
        {{ form_end(form) }}

    {% endblock %}
