<div class="box">
    <div class="box-header">
        Anexos Exclusivo
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Arquivo</th>
                    <th>Descrição</th>
                    <th>Criado em</th>
                </tr>
                </thead>
                <tbody>
                {% for anexoBackup in anexoBackups %}
                    <tr>
                        <td>
                            {#<a href="{{ path('cadastro_anexobackup_show', { 'id': anexoBackup.id }) }}" class="btn btn-primary btn-xs">#}
                            {#<span class="glyphicon glyphicon-eye-open"></span>#}
                            {#</a>#}

                            <a href="{{ path('cadastro_anexobackup_edit', { 'id': anexoBackup.id }) }}" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            {% if anexoBackup.imageName %}
                                <a href="{{ vich_uploader_asset(anexoBackup,'imageFile') }}" target="_blank" class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-download"></span>
                                </a>
                            {% endif %}

                        </td>
                        <td>
                            {% if anexoBackup.imageName %}
                            <a href="{{ vich_uploader_asset(anexoBackup,'imageFile') }}" target="_blank">
                                {% endif %}
                                {{ anexoBackup.imageName }}
                            </a>
                        </td>
                        <td>{{ anexoBackup.nome }}</td>

                        <td>{% if anexoBackup.datacriacao %}{{ anexoBackup.datacriacao|date('d-m-Y H:i:s') }}{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>