{% extends ':template:template.html.twig' %}


    {% block contentheader %}


        <section class="content-header">
            <h1>
                Centro de Movimentação
                <small>Listar</small>
            </h1>
        </section>


    {% endblock %}


    {% block panelheading %}
        <a href="{{ path('cadastro_centromovimentacao_new') }}" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
            Novo
        </a>
    {% endblock %}

    {% block panelbody %}
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th>Ações</th>
                    <th>Nome</th>
                    <th>Preventiva - ( em meses )</th>
                    <th>Unidade</th>
                </tr>
                </thead>
                <tbody>
                {% for centroMovimentacao in centroMovimentacaos %}
                    <tr>
                        <td>
                            <a href="{{ path('cadastro_centromovimentacao_show', { 'id': centroMovimentacao.id }) }}" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                Mostrar
                            </a>
                            <a href="{{ path('cadastro_centromovimentacao_edit', { 'id': centroMovimentacao.id }) }}" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-edit"></span>
                                Editar
                            </a>
                        </td>
                        <td>{{ centroMovimentacao.nome }}</td>
                        <td>{{ centroMovimentacao.tempoPrevencao }}</td>
                        <td>{{ centroMovimentacao.unidade.nome }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    {% endblock %}
