{% extends ':template:template.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/mrsinventario/css/dataTables.bootstrap.css') }}">

{% endblock %}

    {% block contentheader %}


        <section class="content-header">
            <h1>
                Troca de Fita
                <small>Listar</small>
            </h1>
        </section>


    {% endblock %}


    {% block panelheading %}
        <a href="{{ path('cadastro_trocafita_new') }}" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
            Novo
        </a>    {% endblock %}

    {% block panelbody %}
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped table-datatable" data-order='[]'>
                <thead>
                <tr>
                    <th>Ações</th>
                    <th>Data de criação</th>
                    <th>Usuário</th>
                    <th>Barcode</th>
                    <th>Ciclo</th>
                    <th>Jogo</th>
                    <th>Descrição</th>
                    <th>Unidade</th>
                </tr>
                </thead>
                <tbody>
                {% for trocaFitum in trocaFitas %}
                    <tr>
                        <td>
                            <a href="{{ path('cadastro_trocafita_show', { 'id': trocaFitum.id }) }}" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            {% if trocaFitum.criadoEm|date('Y-m-d') == 'now'|date('Y-m-d') %}
                            <a href="{{ path('cadastro_trocafita_edit', { 'id': trocaFitum.id }) }}" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            {% endif %}
                        </td>
                        <td><a href="{{ path('cadastro_trocafita_show', { 'id': trocaFitum.id }) }}">{{ trocaFitum.dataCriacao|date('d-m-Y') }}</a></td>
                        <td>{{ trocaFitum.user }}</td>
                        <td>{{ trocaFitum.fita.barCode }}</td>
                        <td>{{ trocaFitum.fita.ciclo }}</td>
                        <td>{{ trocaFitum.fita.jogo }}</td>
                        <td>{{ trocaFitum.fita.descricao }}</td>
                        <td>{{ trocaFitum.fita.unidade }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    {% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <script src="{{ asset('bundles/mrsinventario/js/jquery.dataTables.js') }}"></script>
        <script src="{{ asset('bundles/mrsinventario/js/dataTables.bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/mrsinventario/js/mrs-dataTable.js') }}"></script>


    {% endblock %}