{% extends ':template:template.html.twig' %}


    {% block contentheader %}

        <section class="content-header">
            <h1>
                Custo Equipamento
                <small>Novo</small>
            </h1>
        </section>

    {% endblock %}


    {% block panelheading %}

        <div class="row">

        <div class="col-md-2 col-sm-3 col-xs-3">

            <a href="{{ path('cadastro_custoequipamento_index', { 'equipamento' : equipamento.id } ) }}" class="btn btn-primary btn-sm">
                <span class="fa fa-reply"></span>
                Listar Custo
            </a>

        </div>

        <div class="col-md-2 col-sm-3 col-xs-3">

            <a href="{{ path('cadastro_equipamento_show',{ 'id' : equipamento.id }) }}" class="btn btn-primary btn-sm">
                <span class="fa fa-eye"></span>
                Mostrar Equipamento
            </a>

        </div>

        </div>{% endblock %}


    {% block panelbody %}

        {{ form_start(form) }}
        {{ form_widget(form) }}

    {% endblock %}

    {% block panelfooter %}
        <button type="submit" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Salvar
        </button>
        {{ form_end(form) }}

    {% endblock %}
