    {% extends ':template:template.html.twig' %}


    {% block contentheader %}

    <section class="content-header">
        <h1>
            Registro de Backup
            <small>Novo</small>
        </h1>
    </section>

    {% endblock %}


    {% block panelheading %}

        <div class="row">

    <div class="col-md-2 col-sm-3 col-xs-3">

        <a href="{{ path('cadastro_registrobackup_index') }}" class="btn btn-primary btn-sm">
            <span class="fa fa-reply"></span>
            Voltar
        </a>

    </div>
</div>{% endblock %}


    {% block panelbody %}

        {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
        {{ form_widget(form) }}

    {% endblock %}

    {% block panelfooter %}
    <button type="submit" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-floppy-disk"></span>
        Salvar
    </button>
    {{ form_end(form) }}

        <a href="{{ path('cadastro_registrobackup_new') }}" id="link">

        {#<a href="{{ path('job_list_by_unidade') }}" id="link">#}

    {% endblock %}

        {% block javascripts %}

            {{ parent() }}

            <script src="{{ asset('bundles/mrsinventario/js/select2.js') }}"></script>

            <script>

{#
                $(document).ready(function(){


                var $registro_backup_unidade = $('#registro_backup_unidade');

                $registro_backup_unidade.change(function(){

                    var unidade = $registro_backup_unidade.val();

                    var url = $("#link").attr('href');

                    var url = url+'/'+unidade;

                   $.ajax({
                        url: url,
                        data: '',
                        type: 'get',
                        dataType: 'json',
                        success: function(dados){

                        $("#registro_backup_job").select2({
                            data: dados,
                         })
                         console.log(dados)

                        }
                   });



                });

             });

#}
            </script>

            <script>

                var $registro_backup_unidade = $('#registro_backup_unidade');
                // When sport gets selected ...
                $registro_backup_unidade.change(function() {

                    //var $form = $(this).closest('form');
                    var url = $("#link").attr('href');

                    //alert(url);

                    // alert('Change: ' + $form.attr('action') + $form.attr('method'));
                    // ... retrieve the corresponding form.

                    // Simulate form data, but only include the selected sport value.
                    var data = {};

                    data = $registro_backup_unidade.serialize();

                    // Submit data via AJAX to the form's action path.
                    $.ajax({
                        url : url,
                        type: 'POST',
                        data : data,
                        success: function(html) {

                            //$("#load").html(html);
                            // Replace current position field ...
                            $('#registro_backup_job').replaceWith(
                                    // ... with the returned one from the AJAX response.
                                    $(html).find('#registro_backup_job')
                            );

                            //$("#registro_backup_job").select2();
                            // Position field now displays the appropriate positions.
                        },
                        error: function(err){
                           $("#loader").html(err);
                       }
                    });

                });

            </script>

        {% endblock %}