{% extends ':template:template.html.twig' %}



    {% block contentheader %}

        <section class="content-header">
            <h1>
                Registro de Backup
                <small>Mostrar</small>
            </h1>
        </section>

    {% endblock %}

    {% block firstrow %}

        {% for message in app.session.flashBag.get('notice') %}
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-{{ message.tipo_mensagem }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <i class="fa fa-info"></i> {{ message.mensagem }}. <i class="fa fa-smile-o"></i>
                </div>
            </div>
        {% endfor %}


    {% endblock %}


    {% block panelheading %}

        <div class="row">

        <div class="col-md-2 col-sm-3 col-xs-3">

            <a href="{{ path('cadastro_registrobackup_index') }}" class="btn btn-primary btn-sm">
                <span class="fa fa-reply"></span>
                Voltar
            </a>

        </div>
        <div class="col-md-2 col-sm-3 col-xs-3">

            <a href="{{ path('cadastro_registrobackup_edit', { 'id': registroBackup.id }) }}" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-edit"></span>
                Editar
            </a>

        </div>

        <div class="col-md-2 col-sm-3 col-xs-3">

            <div class="dropdown">
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-plus"></span>
                    Anexos
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <a href="{{ path('cadastro_anexobackup_new', { 'registroBackup': registroBackup.id }) }}" >
                            <span class="fa fa-paperclip"></span>
                            Exclusivo
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('cadastro_registroanexobackup_new',{'registroBackup': registroBackup.id}) }}">
                            <span class="fa fa-paperclip"></span>
                            Compartilhado
                        </a>
                    </li>
                </ul>
            </div>


        </div>

        <div class="col-md-2 col-sm-3 col-xs-3">
            <a href="{{ path('view_log_registrobackup', {'registrobackup': registroBackup.id}) }}" target="_blank" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-list"></span>
                Log
            </a>

        </div>
        </div>{% endblock %}



    {% block panelbody %}

        <div class="table table-responsive">
            <table class="table table-bordered table-condensed">
                <tbody>
                <tr>
                    <th>Data</th>
                    <td>{% if registroBackup.data %}{{ registroBackup.data|date('d-m-Y') }}{% endif %}</td>
                </tr>

                <tr>
                    <th>Status</th>
                    <td>{{ registroBackup.status }}</td>
                </tr>
                <tr>
                    <th>Observacao</th>
                    <td>{{ registroBackup.observacao }}</td>
                </tr>
                {#<tr>#}
                    {#<th>Anexo</th>#}
                    {#<td>#}
                        {#{% if registroBackup.fileName %}#}
                            {#<a href="{{ vich_uploader_asset(registroBackup,'imageFile') }}" target="_blank" class="btn btn-primary btn-sm">#}
                                {#<span class="glyphicon glyphicon-download"></span>#}
                                {#Baixar#}
                            {#</a>#}
                            {#| {{ registroBackup.fileName }}#}
                        {#{% endif %}#}
                    {#</td>#}
                {#</tr>#}
                <tr>
                    <th>Usuário</th>
                    <td>{{ registroBackup.user }}</td>
                </tr>

                <tr>
                    <th>Job</th>
                    <td>{{ registroBackup.jobName }}</td>
                </tr>

                <tr>
                    <th>Tipo de Job JOB</th>
                    <td>{{ registroBackup.tipoJob }}</td>
                </tr>

                </tbody>
            </table>

            {{ render(path('cadastro_regitrobackupequipamento_index',{'registrobackup': registroBackup.id })) }}

            {{ render(path('cadastro_anexobackup_index', { 'registroBackup' : registroBackup.id })) }}

            {{ render(path('cadastro_registroanexobackup_to_show', { 'registroBackup' : registroBackup.id })) }}

        </div>

    {% endblock %}

    {% block panelfooter %}
        RG.TI.02.002 - REGISTRO DE BACKUP - Rev.02 - 13.05.17
    {% endblock %}
