{% extends ':template:template.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/mrsinventario/css/dataTables.bootstrap.css') }}">
{% endblock %}


    {% block contentheader %}


        <section class="content-header">
            <h1>
                User
                <small>Listar</small>
            </h1>
        </section>


    {% endblock %}


    {% block panelheading %}
        <a href="{{ path('admin_usuario_new') }}" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
            Novo
        </a>
    {% endblock %}

    {% block panelbody %}
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped table-datatable">
                <thead>
                <tr>
                    <th>Ações</th>
                    <th>Login</th>
                    <th>Roles</th>
                    <th>Status</th>
                    <th>Email</th>
                    <th>Usuário</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            <a href="{{ path('admin_usuario_show', { 'id': user.id }) }}" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-search"></span>
                            </a>
                            <a href="{{ path('admin_usuario_edit', { 'id': user.id }) }}" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </td>
                        <td>{{ user.username }}</td>
                        <td>{% if user.roles %}{{ user.roles|join(', ') }}{% endif %}</td>
                        <td>{% if user.isActive %}Ativo{% else %}Inativo{% endif %}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.usuario }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/mrsinventario/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/mrsinventario/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/mrsinventario/js/mrs-dataTable.js') }}"></script>
{% endblock %}