{% extends ':template:template.html.twig' %}



    {% block contentheader %}

        <section class="content-header">
            <h1>
                Registro de Restore
                <small></small>
                <button class="btn btn-default" id="print">
                    <span class="fa fa-print"></span>
                    Imprimir
                </button>
            </h1>
        </section>

    {% endblock %}


    {% block content %}

        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <img src="{{ asset('logoRelatorio.jpeg') }}" alt="" width="200">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-condensed">
                                    <tbody>
                                    <tr>
                                        <th>Data</th>
                                        <td>{% if registroRestore.data %}{{ registroRestore.data|date('d-m-Y') }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th>Equipamento</th>
                                        <td>{{ registroRestore.equipamentoName }}</td>
                                    </tr>
                                    <tr>
                                        <th>Fita</th>
                                        <td>{{ registroRestore.fitaName }}</td>
                                    </tr>
                                    <tr>
                                        <th>Tipo de Job</th>
                                        <td>{{ registroRestore.tipoJobName }}</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>{{ registroRestore.status }}</td>
                                    </tr>
                                    <tr>
                                        <th>Observacao</th>
                                        <td>{{ registroRestore.observacao }}</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                <div class="panel panel-default">

                    <div class="panel-body">
                        <div style="margin: auto; width: 60%">
                            <small>RG.TI.02.001 - REGISTRO DE RESTORE -</small>
                            <strong>Rev.02-09.10.17</strong>
                        </div>
                    </div>

                </div>

            </div>

        </div>


    {% endblock %}

    {% block footer %}
        {#
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>IP: {{ app.request.clientIp }}</b>
            </div>
            <small>RG.TI.02.002 - REGISTRO DE BACKUP - Rev.02 - 13.05.17</small>
        </footer>
        #}
    {% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $("#print").click(function(){

            window.print();
        });

    </script>

{% endblock %}