    {% extends ':template:template.html.twig' %}

    {% block stylesheets %}

        {{ parent() }}

        <link rel="stylesheet" href="{{ asset('bundles/mrsinventario/css/dataTables.bootstrap.css') }}">

    {% endblock %}

    {% block contentheader %}


    <section class="content-header">
        <h1>
            Registro de Restore
            <small>Listar</small>
        </h1>
    </section>


    {% endblock %}


    {% block panelheading %}
    <a href="{{ path('cadastro_registrorestore_new') }}" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
            Novo
        </a>    {% endblock %}

    {% block panelbody %}
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-hover table-striped table-datatable" data-order='[]'>
            <thead>
            <tr>
                <th>Ações</th>
                    <th>Data de criação</th>
                    <th>Equipamento</th>
                    <th>Fita</th>
                    <th>Tipo de Job</th>
                    <th>Status</th>
                    <th>Observação</th>
                    <th>Usuário</th>
                    <th>Unidade</th>
            </tr>
            </thead>
            <tbody>
            {% for registroRestore in registroRestores %}

                {% if registroRestore.status == 'FALHA' %}
                    <tr class="danger">
                {% else %}
                    <tr>
                {% endif %}

                <td>
                    <a href="{{ path('cadastro_registrorestore_show', { 'id': registroRestore.id }) }}" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    {% if maxId == registroRestore.id %}
                    <a href="{{ path('cadastro_registrorestore_edit', { 'id': registroRestore.id }) }}" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    {% endif %}
                </td>
                <td><a href="{{ path('cadastro_registrorestore_show', { 'id': registroRestore.id }) }}">{{ registroRestore.data |date('d-m-Y')}}</a></td>
                <td>{{ registroRestore.equipamento}}</td>
                <td>{{ registroRestore.fita }}</td>
                <td>{{ registroRestore.tipoJob }}</td>
                <td>{{ registroRestore.status }}</td>
                <td>{{ registroRestore.observacao }}</td>
                <td>{{ registroRestore.user }}</td>
                <td>{{ registroRestore.fita.unidade.nome }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    {% endblock %}

    {% block javascripts %}
        {{ parent() }}

        <script src="{{ asset('bundles/mrsinventario/js/jquery.dataTables.js') }}"></script>
        <script src="{{ asset('bundles/mrsinventario/js/dataTables.bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/mrsinventario/js/mrs-dataTable.js') }}"></script>


    {% endblock %}