{% extends ':template:template.html.twig' %}


    {% block contentheader %}


        <section class="content-header">
            <h1>
                Tipo de Equipamento
                <small>Listar</small>
            </h1>
        </section>


    {% endblock %}


    {% block panelheading %}
        <a href="{{ path('cadastro_tipoequipamento_new') }}" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
            Novo
        </a>
    {% endblock %}

    {% block panelbody %}
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped">
                <thead>
                <tr>
                    <th>Ações</th>
                    <th>Descricao</th>
                    <th>Icone</th>
                    <th>Nome do Icone</th>
                </tr>
                </thead>
                <tbody>
                {% for tipoequipamento in tipoequipamentos %}
                    <tr>
                        <td>
                            <a href="{{ path('cadastro_tipoequipamento_show', { 'id': tipoequipamento.id }) }}" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                Mostrar
                            </a>
                            <a href="{{ path('cadastro_tipoequipamento_edit', { 'id': tipoequipamento.id }) }}" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-edit"></span>
                                Editar
                            </a>
                        </td>
                        <td><a href="{{ path('cadastro_tipoequipamento_show', { 'id': tipoequipamento.id }) }}">{{ tipoequipamento.descricao }}</a></td>
                        <td><span class="{{ tipoequipamento.icone }}"></span></td>
                        <td>{{ tipoequipamento.icone }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    {% endblock %}
