{% extends ':template:template.html.twig' %}


{% block contentheader %}


    <section class="content-header">
        <h1>
            Registro Anexo Backup
            <small>Listar</small>
        </h1>
    </section>


{% endblock %}


{% block panelheading %}
    <a href="{{ path('cadastro_registroanexobackup_new',{ 'registroBackup' : registroBackup.id}) }}" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-plus"></span>
        Novo
    </a>
    <a href="{{ path('cadastro_registrobackup_show',{ 'id': registroBackup.id }) }}" class="btn btn-primary btn-sm">
        <span class="fa fa-backward"></span>
        Registro Backup
    </a>

{% endblock %}

{% block panelbody %}
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>Ações</th>
                <th>Arquivo</th>
                <th>Descrição</th>
                <th>Data da Criação</th>
            </tr>
            </thead>
            <tbody>
            {% for registroAnexoBackup in registroAnexoBackups %}
                <tr>
                    <td>
                        <a href="{{ path('cadastro_registroanexobackup_show', { 'id': registroAnexoBackup.id }) }}" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a href="{{ path('cadastro_registroanexobackup_edit', { 'id': registroAnexoBackup.id }) }}" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="{{ vich_uploader_asset(registroAnexoBackup.anexoCompartilhado,'imageFile') }}" target="_blank" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-download"></span>
                        </a>
                    <td>
                        {% if registroAnexoBackup.anexoCompartilhado.imageName %}
                        <a href="{{ vich_uploader_asset(registroAnexoBackup.anexoCompartilhado,'imageFile') }}" target="_blank">
                            {% endif %}
                            {{ registroAnexoBackup.anexoCompartilhado.imagename }}
                        </a>
                    </td>
                    </td>
                    <td>{{ registroAnexoBackup.anexoCompartilhado.nome }}</td>
                    <td>{{ registroAnexoBackup.anexoCompartilhado.dataCriacao | date('d-m-Y H:i:s') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
