{% block extends %}
    {{ "{% extends ':template:template.html.twig' %}" }}
{% endblock extends %}

{% block body %}

    {{ "{% block contentheader %}" }}

    <section class="content-header">
        <h1>
            {{ entity }}
            <small>Novo</small>
        </h1>
    </section>

    {{ "{% endblock %}" }}


    {{ "{% block panelheading %}" }}

    {% set hide_edit, hide_delete = true, true %}
    {{ include('crud/views/others/record_actions.html.twig.twig') -}}

    {{ "{% endblock %}" }}


    {{ "{% block panelbody %}" }}

        {{ '{{ form_start(form) }}' }}
        {{ '{{ form_widget(form) }}' }}

    {{ "{% endblock %}" }}

    {{ '{% block panelfooter %}' }}
    <button type="submit" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-floppy-disk"></span>
        Salvar
    </button>
    {{ '{{ form_end(form) }}' }}

    {{ "{% endblock %}" }}
{% endblock body %}
