<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}InvTek - Controle de Ativos{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="{{ asset('bundles/mrsinventario/css/bootstrap.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('bundles/mrsinventario/css/font-awesome.min.css') }}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ asset('bundles/mrsinventario/css/ionicons.min.css') }}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('bundles/mrsinventario/css/AdminLTE.css') }}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{{ asset('bundles/mrsinventario/css/skin-green.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mrsinventario/css/skin-blue.css') }}">
        <!-- pace.css -->
        <link rel="stylesheet" href="{{ asset('bundles/mrsinventario/css/pace.css') }}">

        <link rel="stylesheet" href="{{ asset('bundles/mrsinventario/css/select2-bootstrap.css') }}">

    {% endblock %}

    {#
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    #}

</head>
<body class="hold-transition skin-{{ color }} sidebar-mini fixed sidebar-collapse">

<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="{{ path('dashboard_version') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>INV</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">InvTek</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <li class="dropdown user user-menu">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-xs">
                                {#{{ app.user.usuCodigo.usuNome }}#}
                            </span>

                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="{{ asset("bundles/mrsinventario/img/edgard.gomes.png") }}" class="img-circle" alt="Imagem do Usuário">
                                <h1></h1>
                                <p>
                                    {% if app.user %}
                                        {{ app.user.username }}
                                        <small>{{ app.user.email }}</small>
                                    {% endif %}
                                </p>

                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">

                                <div class="pull-left">
                                    <a href="{{ path('home') }}" class="btn btn-default btn-flat">
                                        <span class="glyphicon glyphicon-home"></span>
                                        Home
                                    </a>
                                </div>

                                <div class="pull-right">
                                    <a href="{{ path('user_logout') }}" class="btn btn-default btn-flat">
                                        <span class="glyphicon glyphicon-off"></span>
                                        Sair
                                    </a>
                                </div>

                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->

            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">

                <li class="treeview">
                    <a href="{{ path('home') }}">
                        <i class="fa fa-paw"></i><span>Home</span>
                    </a>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-navicon"></i>
                        <span>Operações</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('movimentacao_index') }}"><i class="fa fa-exchange"></i>Movimentação</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-object-group"></i>
                        <span>Painéis</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('report_painel_equipamento') }}"><i class="fa fa-desktop"></i>Equipamento</a></li>
                        <li><a href="{{ path('report_qrcode_equipamento') }}"><i class="fa fa-qrcode"></i>QrCode Equipamento</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder"></i>
                        <span>Relatórios</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('report_relatorio_equipamentos') }}"><i class="fa fa-file-text-o"></i>Equipamentos</a></li>
                        <li><a href="{{ path('report_experied') }}"><i class="fa fa-file-text-o"></i>Equipamentos em Garantia</a></li>
                        <li><a href="{{ path('report_list_inventario') }}"><i class="fa fa-file-text-o"></i>Lista de Inventário</a></li>
                        <li><a href="{{ path('report_comprados') }}"><i class="fa fa-file-text-o"></i>Equipamentos Comprados</a></li>
                        <li><a href="{{ path('report_movimentacoes') }}"><i class="fa fa-file-text-o"></i>Movimentações</a></li>

                        <li>
                            <a href="#"><i class="fa fa-pie-chart"></i>Graficos<i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="{{ path('report_chart_equipamento_by_centro_movimentacao') }}"><i class="fa fa-file-text-o"></i>Equipamentos por Centros M</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-file"></i>Acompanhamento<i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="{{ path('report_acompanhamento_equipamento') }}"><i class="fa fa-file-text-o"></i>Acompanhamentos</a></li>
                                <li><a href="{{ path('report_equipamento_no_acompanhamento') }}"><i class="fa fa-file-text-o"></i>Sem Acompanhamento</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>

                <li class="treeview">

                    <a href="#">
                        <i class="fa fa-sliders"></i> <span>Cadastros</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>

                    <ul class="treeview-menu">

                        <li>
                            <a href="{{ path('cadastro_unidade_index') }}"><i class="fa fa-university"></i>Unidade</a>
                        </li>
                        <li>
                            <a href="{{ path('cadastro_centromovimentacao_index') }}"><i class="fa fa-sitemap"></i>Centro de Movimentacao</a>
                        </li>
                        <li>
                            <a href="{{ path('cadastro_usuario_index') }}"><i class="fa fa-user"></i>Usuários</a>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-gears"></i>Movimentação<i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="{{ path('cadastro_tipomovimentacao_index') }}"><i class="glyphicon glyphicon-retweet"></i>Tipo de Movimentação</a></li>
                                <li><a href="{{ path('cadastro_motivomovimentacao_index') }}"><i class="glyphicon glyphicon-transfer"></i>Motivo de Movimentação</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-gears"></i>Equipamento<i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="{{ path('cadastro_equipamento_index') }}"><i class="fa fa-desktop"></i>Equipamento</a></li>
                                <li><a href="{{ path('cadastro_tipoequipamento_index') }}"><i class="fa fa-mobile"></i>Tipo de Equipamento</a></li>
                                <li><a href="{{ path('cadastro_fornecedor_index') }}"><i class="fa fa-truck"></i>Fornecedor</a></li>
                                <li><a href="{{ path('cadastro_marca_index') }}"><i class="fa fa-trademark"></i>Marca</a></li>
                                <li><a href="{{ path('cadastro_tipoacompanhamento_index') }}"><i class="fa fa-calendar-check-o"></i>Tipo de Acompanhamento</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-gears"></i>Software<i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="{{ path('cadastro_software_index') }}"><i class="fa fa-windows"></i>Software</a></li>
                                <li><a href="{{ path('cadastro_tiposoftware_index') }}"><i class="fa fa-chrome"></i>Tipo de Software</a></li>
                                <li><a href="{{ path('cadastro_fornecedorsoftware_index') }}"><i class="fa fa-truck"></i>Fornecedor de Software</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-gears"></i>Componente<i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="{{ path('cadastro_componente_index') }}"><i class="fa fa-plug"></i>Componente</a></li>
                                <li><a href="{{ path('cadastro_tipocomponente_index') }}"><i class="fa fa-microphone"></i>Tipo de Componente</a></li>
                            </ul>
                        </li>

                    </ul>

                </li>

                {% if gestao_dados %}
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-save"></i>
                        <span>Gestão de Dados</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">

                        <li>
                            <a href="#"><i class="fa fa-gears"></i>Operações<i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="{{ path('cadastro_registrobackup_index') }}"><i class="glyphicon glyphicon-floppy-open"></i>Registro Backup</a></li>
                                <li><a href="{{ path('cadastro_registrorestore_index') }}"><i class="glyphicon glyphicon-floppy-save"></i>Registro Restore</a></li>
                                <li><a href="{{ path('cadastro_trocafita_index') }}"><i class="glyphicon glyphicon-transfer"></i>Troca de Fita</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-gears"></i>Cadastros<i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="{{ path('cadastro_job_index') }}"><i class="fa fa-cogs"></i>Job</a></li>
                                <li><a href="{{ path('cadastro_tipojob_index') }}"><i class="fa fa-cog"></i>Tipo de Job</a></li>
                                <li><a href="{{ path('cadastro_fita_index') }}"><i class="fa fa-simplybuilt"></i>Fita</a></li>
                                <li><a href="{{ path('cadastro_tipomidia_index') }}"><i class="fa fa-cog"></i>Tipo de Mídia</a></li>
                                <li><a href="{{ path('cadastro_status_index') }}"><i class="fa fa-sort"></i>Status</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-list"></i>Relatórios<i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="{{ path('report_utilizacao_by_fita') }}"><i class="fa fa-list"></i>Fitas X Utilização</a></li>
                                <li><a href="{{ path('report_backup_equipamento') }}"><i class="fa fa-list"></i>Backup Equipamento</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                {% endif  %}

                {% if gestao_ip %}
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-signal"></i>
                        <span>Gerênciamento de IP</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('cadastro_enderecoip_index') }}"><i class="fa fa-wifi"></i>Controle de IP</a></li>
                        <li><a href="{{ path('cadastro_statusip_index') }}"><i class="fa fa-sort"></i>Status</a></li>
                        <li><a href="{{ path('cadastro_tipoacessoip_index') }}"><i class="fa fa-unlock-alt"></i>Tipo de Acesso</a></li>
                    </ul>
                </li>
                {% endif %}

                <li class="treeview">
                    <a href="#">
                        <i class="glyphicon glyphicon-lock"></i>
                        <span>Acessos</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('admin_usuario_index') }}"><i class="fa fa-male"></i>Login</a></li>
                    </ul>
                </li>

        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->

        {% block contentheader %}
            {#<section class="content-header">#}
            {#<h1>#}
            {#Dashboard#}
            {#<small>home</small>#}
            {#</h1>#}

            {#</section>#}
        {% endblock %}

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->

            {% block content %}

                <div class="row">

                    <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1">

                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10">

                        <!-- Widget: user widget style 1 -->
                        <div class="panel panel-default">

                            <div class="panel-heading bg-{{ color }}-active">
                            </div>

                            <!-- /.box-header -->
                            <div class="panel-body">

                                <div class="box box-widget widget-user">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <div class="widget-user-header bg-{{ color }}-active">
                                        <h3 class="widget-user-username">
                                            <strong>{{ company }}</strong>
                                        </h3>
                                        <h5 class="widget-user-desc">
                                            {{ phrase }}
                                        </h5>
                                    </div>
                                    <div class="widget-user-image">
                                        {#<img class="img-circle" src="{{ asset('bundles/framework/images/logo_symfony.png') }}" alt="User Avatar">#}
                                    </div>
                                    <div class="box-footer">
                                        <div class="row">
                                            <div class="col-sm-4 border-right">
                                                <div class="description-block">
                                                    <h5 class="description-header">InvTek</h5>
                                                    <span class="description-text">Controle de Ativos</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->
                                            <div class="col-sm-4 border-right">
                                                <div class="description-block">
                                                    <h5 class="description-header">{{ version }}</h5>
                                                    <span class="description-text">VERSÃO</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>

                                            <div class="col-sm-4 border-right">
                                                <div class="description-block">
                                                    <h5 class="description-header">{{ 'now'|date('Y') }}</h5>
                                                    <span class="description-text">{{ teamcreator }}</span>
                                                </div>
                                                <!-- /.description-block -->
                                            </div>
                                            <!-- /.col -->

                                        </div>
                                        <!-- /.row -->
                                    </div>
                                </div>
                                <!-- /.widget-user -->


                            </div>
                            <!-- /.box-body -->

                        </div>

                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1">

                    </div>

                </div>


            {% endblock %}

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% block footer %}
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>IP: {{ app.request.clientIp }}</b>
            </div>
            <small>InfTek - Tecnologia da Informação</small>
            <strong>&copy; {{ 'now'|date('Y') }}.</strong>
        </footer>
    {% endblock %}


</div>
<!-- ./wrapper -->

{% block javascripts %}
    <!-- jQuery 2.2.0 -->
    <script src="{{ asset('bundles/mrsinventario/js/jQuery-2.2.0.min.js') }}"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="{{ asset('bundles/mrsinventario/js/bootstrap.js') }}"></script>
    <!-- jquery.slimscroll -->
    <script src="{{ asset('bundles/mrsinventario/js/jquery.slimscroll.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('bundles/mrsinventario/js/app.js') }}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="{{ asset('bundles/mrsinventario/js/pace.min.js') }}"></script>
    <!-- jqueryConfirm  -->
    <script src="{{ asset('bundles/mrsinventario/js/jquery.confirm.js') }}"></script>

    <script>

        $(document).ajaxStart(function() { Pace.restart(); });


        /**
         * This function confirm all action about remove buttons
         */

        $(".remover-form").confirm({
            title: "É necessário confirmar essa ação",
            text: "Quer mesmo remover esse item ?",

            confirm: function(button){
                form.submit();
            },
            cancel: function(button) {
                // nothing to do
            },
            confirmButton: "Sim",
            submitForm: true,
            post: true,
            cancelButton: "Não",
            confirmButtonClass: "btn-danger",
            cancelButtonClass: "btn-primary",
            dialogClass: "modal-dialog modal-lg" // Bootstrap classes for large modal
        });

        $(".remover-link").confirm({
            title: "É necessário confirmar essa ação",
            text: "Quer mesmo remover esse item ?",

            cancel: function(button) {
                // nothing to do
            },
            confirmButton: "Sim",
            cancelButton: "Não",
            confirmButtonClass: "btn-danger",
            cancelButtonClass: "btn-primary",
            dialogClass: "modal-dialog modal-lg" // Bootstrap classes for large modal
        });


        //Usado para botoes que são Links
        $(".link-search").click(function(){

            $(this).replaceWith('<img src="{{ asset('load.gif') }}" />');

        });

        //$(document).on("click","#remover",myConfirm() );



        /*
         var ajaxAPI = {

         ajaxAPISucess: function(data){
         $(ajaxAPI.options.putText).html(data);
         },

         clickAction: function(){

         ajaxAPI.validationFuncion();
         },

         validationFuncion: function(){

         var text =  prompt('What do you want ?');
         if(text){
         ajaxAPI.text = text;
         }

         ajaxAPI.ajaxFunction();

         },

         ajaxFunction: function(){

         $.ajax({
         url: ajaxAPI.options.url+ajaxAPI.text,
         type: ajaxAPI.options.type,

         success: function(result){
         ajaxAPI.ajaxAPISucess(result);
         },

         beforeSend: function(){
         $(ajaxAPI.options.buttonClick).hide();
         },

         complete: function(){
         $(ajaxAPI.options.buttonClick).show();
         },
         error: function(){
         $(ajaxAPI.options.putText).html(ajaxAPI.options.phrasePutText);
         }

         });
         },

         start: function(){
         ajaxAPI.options = {
         url: 'http://localhost/blog/web/hello/',
         type: 'GET',
         putText: '#text',
         buttonClick: '#click',
         phrasePutText: 'Nao encontrado, vish mano ñ tem',
         },

         ajaxAPI.clickFunction();
         ajaxAPI.clickNewButton();
         },

         clickFunction: function(){
         $(ajaxAPI.options.buttonClick).click(function(){
         ajaxAPI.clickAction();
         });
         },

         clickNewButton: function(){

         $("#mymodal").click(function(){
         $(".modal-body").html("Carregou o Modal");
         });
         }

         };

         $(document).on("ready",ajaxAPI.start);
         */

    </script>

{% endblock %}

</body>
</html>