{% extends ':template:template.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/mrsinventario/css/dataTables.bootstrap.css') }}">
{% endblock %}


{% block contentheader %}


    <section class="content-header">
        <h1>
            DashBoard
            <small>Olá {{ app.user.username }} o que deseja fazer ?</small>
        </h1>
    </section>


{% endblock %}

{% block content %}

    {% if gestao_dados %}
        <div class="row">


            <div class="col-md-4">

                <div class="small-box bg-{{ color }}">
                    <div class="inner">
                        <h3>Backup</h3>

                        <p>&nbsp;</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-upload"></i>
                    </div>
                    <a href="{{ path('cadastro_registrobackup_new') }}" class="small-box-footer">Registrar <i class="fa fa-arrow-circle-right"></i></a>
                </div>

            </div>


            <div class="col-md-4">

                <div class="small-box bg-{{ color }}">
                    <div class="inner">
                        <h3>Troca de Fita</h3>

                        <p>&nbsp;</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-paper"></i>
                    </div>
                    <a href="{{ path('cadastro_trocafita_new') }}" class="small-box-footer">Registrar <i class="fa fa-arrow-circle-right"></i></a>
                </div>

            </div>

            <div class="col-md-4">

                <div class="small-box bg-{{ color }}">
                    <div class="inner">
                        <h3>Restore</h3>

                        <p>&nbsp;</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-download"></i>
                    </div>
                    <a href="{{ path('cadastro_registrobackup_new') }}" class="small-box-footer">Registrar <i class="fa fa-arrow-circle-right"></i></a>
                </div>

            </div>

        </div>
    {% endif %}

    <div class="row">

        <div class="col-md-6">

            <div class="small-box bg-{{ color }}">
                <div class="inner">
                    <h3>Lista de Inventário</h3>

                    <p>&nbsp;</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="{{ path('report_list_inventario') }}" class="small-box-footer">Mais Informações <i class="fa fa-arrow-circle-right"></i></a>
            </div>

        </div>

        <div class="col-md-6">
            <div class="small-box bg-{{ color }}">
                <div class="inner">
                    <h3>Movimentação</h3>

                    <p>&nbsp;</p>
                </div>
                <div class="icon">
                    <i class="ion ion-drag"></i>
                </div>
                <a href="{{ path('movimentacao_new') }}" class="small-box-footer">Registrar <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>


    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/mrsinventario/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/mrsinventario/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/mrsinventario/js/mrs-dataTable.js') }}"></script>


{% endblock %}