<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}InvTek{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('bundles/mrsinventario/css/bootstrap.css') }}">

        <link rel="stylesheet" href="{{ asset('bundles/mrsinventario/css/font-awesome.min.css') }}">

        <link rel="stylesheet" href="{{ asset('bundles/mrsinventario/css/ionicons.min.css') }}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('bundles/mrsinventario/css/AdminLTE.css') }}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{{ asset('bundles/mrsinventario/css/skin-blue.css') }}">

    {% endblock %}

</head>

<body>

{% block body %}

{% endblock %}

{% block footer %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/mrsinventario/js/jQuery-2.2.0.min.js') }}"></script>
    <script src="{{ asset('bundles/mrsinventario/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/mrsinventario/js/app.js') }}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="{{ asset('bundles/mrsinventario/js/pace.min.js') }}"></script>
{% endblock %}

</body>
</html>